name: test for docker-bake.json

permissions:
  contents: read

on:
  pull_request:
    branches:
      - master
    paths:
      - bakefiles/*.json
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  make_test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Run make test
        run: make test
