name: Build & Push R devel images and RStudio daily build images

on:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        bakefile: [devel.docker-bake.json, core-latest-daily.docker-bake.json]
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker images
        run: |
          BAKE_JSON=bakefiles/${{ matrix.bakefile }} BAKE_OPTION=--push\ --no-cache make bake-json-group
