name: Build & Push extra images

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  generate_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
      - id: set-matrix
        run: |
          CONTENT=$(jq '{ group: [.group[] | keys[] | select(. != "default")] }' -r bakefiles/extra.docker-bake.json)
          echo ::set-output name=matrix::${CONTENT}
          echo ${CONTENT}

  build:
    needs: generate_matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.generate_matrix.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push Docker images
        run: |
          BAKE_JSON=bakefiles/extra.docker-bake.json BAKE_GROUP=${{ matrix.group }} BAKE_OPTION=--push make bake-json-group
