name: test for install R from source

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/r-build-test.yml
      - scripts/install_R_source.sh
      - scripts/setup_R.sh
      - scripts/bin/**
      - build/templates/dockerfiles/r-ver.Dockerfile.txt
      - "!**.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04${{ matrix.platforms == 'linux/arm64' && '-arm' || '' }}
    strategy:
      fail-fast: true
      matrix:
        tag:
          - "devel"
          - "latest"
        platforms:
          - linux/amd64
          - linux/arm64
        exclude:
          - tag: "devel"
            platforms: linux/arm64
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3
      - name: test build
        run: |
          if [ "${{ matrix.tag }}" == "latest" ]; then
            TAG="$(jq '.r_version[0]' -r build/matrix/latest.json)"
          else
            TAG="${{ matrix.tag }}"
          fi
          docker buildx bake \
          -f bakefiles/"${TAG}".docker-bake.json \
          --set=*.platform="${{ matrix.platforms }}" \
          --set=*.cache-from=docker.io/rocker/r-ver:"${TAG}" \
          --set=*.cache-from=type=gha,scope=r-ver-"${TAG}${{ matrix.platforms == 'linux/arm64' && '-arm' || '' }}" \
          --set=*.cache-to=type=gha,scope=r-ver-"${TAG}${{ matrix.platforms == 'linux/arm64' && '-arm' || '' }}" \
          --set=r-ver.tags=r-ver-test-"${TAG}" \
          --load \
          r-ver
      - name: inspect image
        run: |
          make inspect-image/r-ver-test-"${{ env.TAG }}"
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tmp-${{ matrix.tag }}${{ matrix.platforms == 'linux/arm64' && '-arm' || '' }}
          path: tmp

  regression-test:
    needs: build
    runs-on: ubuntu-24.04${{ matrix.platforms == 'linux/arm64' && '-arm' || '' }}
    strategy:
      fail-fast: false
      matrix:
        tag:
          - "latest"
        platforms:
          - linux/amd64
        script:
          - install_rstudio.sh
          - install_tidyverse.sh
          - install_verse.sh
          - install_shiny_server.sh
          - install_geospatial.sh
        include:
          - platforms: linux/arm64
            tag: "latest"
            script: install_rstudio.sh
          - platforms: linux/arm64
            tag: "latest"
            script: install_tidyverse.sh
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3
      - name: test build
        run: |
          if [ "${{ matrix.tag }}" == "latest" ]; then
            TAG="$(jq '.r_version[0]' -r build/matrix/latest.json)"
          else
            TAG="${{ matrix.tag }}"
          fi
          echo "TAG=${TAG}" >>"$GITHUB_ENV"
          docker buildx bake \
          -f bakefiles/"${TAG}".docker-bake.json \
          --set=*.platform="${{ matrix.platforms }}" \
          --set=*.cache-from=docker.io/rocker/r-ver:"${TAG}" \
          --set=*.cache-from=type=gha,scope=r-ver-"${TAG}${{ matrix.platforms == 'linux/arm64' && '-arm' || '' }}" \
          --set=*.cache-to=type=gha,scope=r-ver-"${TAG}${{ matrix.platforms == 'linux/arm64' && '-arm' || '' }}" \
          --set=r-ver.tags=r-ver-test-"${TAG}" \
          --load \
          r-ver
      - name: test run rocker scripts
        run: |
          docker run --rm r-ver-test-"${{ env.TAG }}" "/rocker_scripts/${{ matrix.script }}"
