name: test for install R from source

on:
  pull_request:
    branches:
      - master
    paths:
      - scripts/install_R_source.sh
      - scripts/setup_R.sh
      - dockerfiles/r-ver_devel.Dockerfile
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        tag:
          - "devel"
          - "4.0.0"
        platforms:
          - linux/amd64
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: test build
        run: |
          docker buildx bake \
          -f bakefiles/"${{ matrix.tag }}".docker-bake.json \
          --set=*.platform="${{ matrix.platforms }}" \
          --set=*.cache-from=docker.io/rocker/r-ver:"${{ matrix.tag }}" \
          --set=*.cache-from=type=gha \
          --set=*.cache-to=type=gha \
          --set=r-ver.tags=r-ver-test-"${{ matrix.tag }}" \
          --load \
          r-ver
      - name: inspect image
        run: |
          make inspect-image/r-ver-test-"${{ matrix.tag }}"
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: tmp
          path: tmp
