name: test for rocker scripts

on:
  pull_request:
    branches:
      - master
    paths:
      - tests/rocker_scripts/Dockerfile
      - tests/rocker_scripts/matrix.json
      - tests/rocker_scripts/test.sh
      - scripts/*.sh
  workflow_dispatch:

jobs:
  generate_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - id: set-matrix
        run: |
          CONTENT=$(jq 'tostring' -r tests/rocker_scripts/matrix.json)
          echo ::set-output name=matrix::"${CONTENT}"
          echo "${CONTENT}"

  build:
    needs: generate_matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix: ${{fromJson(needs.generate_matrix.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: test build
        run: |
          docker buildx build . -f tests/rocker_scripts/Dockerfile \
          --output=type=docker \
          --build-arg tag=${{ matrix.tag }} \
          --build-arg script_name=${{ matrix.script_name }} \
          --build-arg script_arg=${{ matrix.script_arg }}
